/* hide overflowing .sectionWrap */
body {overflow-x: hidden; font-size: 14px;}
a {text-decoration: none; color: #ccc;}
a:hover {color: inherit;}
ul {list-style: none;}
ul > li {line-height: 30px;}

/* logo */
header {display: none;
    box-shadow: inset 1px 5px 10px rgba(0,0,0,0.8);
}
header h1 img{height: 160px;}
/* left and right button */
.carousel-control-next, .carousel-control-prev {
    width: initial;
    opacity: 1; min-height: 160px;
}
 /*
    section 1 = -100vw
    section 2 = 0vw
    section 3 = 100vw
 */
.sectionWrap {width: 300vw; margin-left: -100vw;}
.sectionWrap > section {
    width: calc(300vw / 3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* section images */
#first {height: 100vh;background: url(../img/background.jpg);}
#second {height: 100vh;background: url(../img/background2.jpg);}
#third{height: 100vh;background: url(../img/background3.jpg);}

/* content section */
section > section {margin-top: 160px;} /* avoid overlapping with logo */

/* footer */
.ftrWrap {background: #000;}
footer h1 img{height: 60px;}
.subMenu {width: 500px;}
.ftrSns {width: 100px;}